@import "../utils/variables";

.foot {
    background-color: darken($light-grey, 80%);
    color: white;
    padding: 22px 25px;

    ul {
        list-style: none;
        padding-inline-start: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;

        i {
            margin-right: 11px;
        }
    }

    h2 {
        margin-top: 0px;
        font-weight: 400;
        font-size: 18px;
        font-family: 'Shrikhand', serif;
    }
}


/* ********************************************* RESPONSIVE ********************************************* */
/*Desktop (more than 1024px)*/
@media (min-width: 1025px) {
    .foot {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        ul {
            flex-direction: row;
            justify-content: flex-end;
        }
        
        h2{
            margin-bottom: 0;
            margin-left: 7px;
        }
    }

}

/* Tablettes (between 768px and 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {}