.heart-full {
color: transparent; /* Rend le cœur vide */
background: linear-gradient(to top, $secondary, $primary); /* Applique un dégradé de couleurs au cœur vide */
    -webkit-background-clip: text; /* Pour les navigateurs WebKit (Safari, Chrome) */
    background-clip: text; /* Pour les autres navigateurs */
    display: none;
}

.fa-heart {
    font-size: 22px;
}



// .heart-icon {
//     // Styles pour le conteneur du cœur
//     display: flex; // Assurez-vous que les icônes de cœur sont affichées en ligne
//     cursor: pointer; // Change le curseur pour indiquer que c'est cliquable
//     user-select: none; // Empêche la sélection de texte lorsque vous cliquez

//     .fa-heart {
//         font-size: 22px;
//         transition: color 0.3s; // Ajoutez une transition pour l'effet de changement de couleur

//         &.heart-empty {
//             color: transparent;
//         }

//         &.heart-full {
//             // color: $yourDesiredColor; // Remplacez $yourDesiredColor par la couleur que vous souhaitez
//             color: transparent;
//             /* Rend le cœur vide */
//             background: linear-gradient(to top, $secondary, $primary);
//             /* Applique un dégradé de couleurs au cœur vide */
//         }
//     }
// }