.heart-full {
    color: transparent;
    /* Rend le cœur vide */
    background: linear-gradient(to top, $secondary, $primary);
    /* Applique un dégradé de couleurs au cœur vide */
    -webkit-background-clip: text;
    /* Pour les navigateurs WebKit (Safari, Chrome) */
    background-clip: text;
    /* Pour les autres navigateurs */
    // display: none;
    font-size: 22px;
    cursor: pointer;
}


// .heart-full {
//     color: transparent;
//     background: linear-gradient(to top, $secondary, $primary);
//     -webkit-background-clip: text;
//     background-clip: text;
//     font-size: 22px;
//     cursor: pointer;
// }

.heart-empty {
    color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.heart-checkbox {
    display: none;
    /* Masque la case à cocher par défaut */
}

.heart-checkbox:checked+label .heart-empty {
    display: none;
    /* Cache le cœur vide lorsque la case est cochée */
}

.heart-checkbox:checked+label .heart-full {
    display: inline;
    /* Affiche le cœur dégradé lorsque la case est cochée */
}

.label {
    cursor: pointer;
}

/* Styles supplémentaires pour améliorer l'apparence du cœur */
// .card-rating label {
//     margin: 0;
// }

.card-rating i {
    transition: all 0.3s;
    /* Transition pour une animation fluide */
}