.heart-full {
    color: transparent;
    /* Rend le cœur vide */
    background: linear-gradient(to top, $secondary, $primary);
    /* Applique un dégradé de couleurs au cœur vide */
    -webkit-background-clip: text;
    /* Pour les navigateurs WebKit (Safari, Chrome) */
    background-clip: text;
    /* Pour les autres navigateurs */
    display: none;
    /* cocher le coeur dégradé par défaut.*/
    font-size: 22px;
    cursor: pointer;
    transition: visibility 0.3s; // Ajout de la transition pour la couleur
    visibility: hidden;

    // background-size: 100% 200%; /* Double la taille du fond pour permettre le remplissage complet */
    // background-position: 0 100%; /* Initialiser le cœur complètement vide */
    // background-position: 0 0; /* Déplace le fond pour remplir complètement le cœur lorsqu'il est cochée */
}

.heart-empty {
    font-size: 22px;
    cursor: pointer;
}

.heart-checkbox {
    display: none;
    /* Masque la case à cocher par défaut */
}


.heart-checkbox:checked+label {
    .heart-empty {
        display: none;
        /* Styles pour le cœur vide lorsque la case est cochée */
    }

    .heart-full {
        visibility: visible;
        display: inline;
        /* Affiche le cœur dégradé lorsque la case est cochée */
    }
}


// :checked + label signifie que 
// lorsque la case à cocher avec la classe .heart-checkbox est cochée, 
// je cible l'élément <label> immédiatement suivant cet élément dans la structure HTML. 
// Cela permet de définir des styles spécifiques pour le label lorsque la case est cochée.


/* Styles pour afficher le cœur vide */
.heart-checkbox:not(:checked)+label {
    .heart-empty {
        display: inline;
    }

    .heart-full {
        display: none;
    }
}

.card-rating i {
    transition: all 0.3s;
    /* Transition pour une animation fluide */
}