.btn-plat {
    @include flex-row;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px darken($light-grey, 15%);
    background-color: $light;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 15px;
        @include w-100;

        span {
            font-weight: bold;
        }
    }

    .prix {
        @include flex-row;
        align-items: end;
        font-weight: bold;
        padding-bottom: 15px;
        margin-right: 20px;
    }

    .coche {
        display: none;
        @include center;
        color: $light;
        background-color: $tertiary;
        width: 0;
        /* Commencez avec une largeur de 0 */
        @include rounded-right;
        margin-right: 0;
        visibility: hidden;
        // animation: fadeEx ease-in-out 0.5s forwards;
        animation: fadeOut ease-in-out 0.5s forwards;
    }

    &:hover {
        .coche {
            @include flex-row;
            animation: fadeEx ease-in-out 0.5s forwards;
        }
    }

    &:not(:hover) {
        .coche {
            @include flex-row;
            // animation: fadeOut ease-in-out 0.5s forwards;
        }
    }
}


/* APPARITION PROGRESSIVE DE L'ENCOCHE */


/* Définir l'animation fadeEx */
@keyframes fadeEx {
    from {
        width: 0;
    }

    to {
        width: 60px;
        /* La largeur finale de la coche */
        visibility: visible;
    }
}


/* DISPARITION PROGRESSIVE DE L'ENCOCHE */

/* Définir l'animation fadeOut */
@keyframes fadeOut {
    from {
        width: 60px;
        /* La largeur finale de la coche */
        visibility: visible;
    }

    to {
        width: 0;
        visibility: hidden;
    }
}