.btn-plat {
    @include flex-row;
    @include rounded;
    // justify-content: space-between;
    box-shadow: 0px 4px 15px 0px darken($light-grey, 15%);
    background-color: $light;


    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 15px;
        width: 100%;
        span {
            font-weight: bold;
        }
    }

    .prix {
        @include flex-row;
        align-items: end;
        font-weight: bold;
        padding-bottom: 15px;
        margin-right: 20px;
    }

    .coche {
        display: none;
        align-items: center;
        justify-content: center;
        color: $light;
        background-color: $tertiary;
        width: 60px !important;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-right: -60px;
        visibility: hidden;
        animation: fadeEx ease-in-out 0.5s forwards;
        /* Utiliser une animation de fondu en 3 secondes */
    }
}

.btn-plat:hover {
    .coche {
        @include flex-row;
    }
}


/* APPARITION PROGRESSIVE DE L'ENCOCHE */


/* Définir l'animation fadeEx */
@keyframes fadeEx {
    from {
        visibility: hidden;
    }
    to {
        // opacity: 1;
        /* Arriver à une opacité de 1 à la fin de l'animation */
        margin-right: 0px;
        /* Remettre le texte à sa position d'origine */
        visibility: visible;
    }
}