@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/header";
@import "../components/footer";
@import "../components/heart";
@import "../components/mainbtn";

.recherche {
    @include flex-row;
    align-items: center;
    height: 50px;
    background-color: darken($light-grey, 5%);
    div {
      width: 200px;
      margin: auto;
    }
    .txtarea {
      text-align: center;
      border-width: 0;
      background-color: darken($light-grey, 5%);
    }
  }

.reserve {
    @include block;
    background-color: $light-grey;
    @include p-60-60;

    h1 {
        margin: 0;
    }

}

.fonctionnement {
    @include flex-column;
    @include p-60-60;

    .btn-container {
        @include flex-column;
        gap: 25px;


        .btn-fonctionnement {
            @include flex-row;
            @include rounded;
            @include space-evenly;
            box-shadow: 0px 4px 15px 0px darken($light-grey, 15%);
            background-color: $light-grey;
            height: 73px;
            /* Positionne le chiffre sur la bordure gauche */
            position: relative;

            .nr {
                position: absolute;
                left: -17px;
                /* Ajustez la valeur selon vos préférences */
                width: 30px;
                height: 30px;
                border-radius: 50%;
                /* Crée un cercle */
                background-color: $primary;
                /* Couleur mauve */
                color: darken($light-grey, 0%);
                /* Couleur de l'écriture blanche */
                text-align: center;
                line-height: 30px;
            }

            .fa-solid {
                color: darken($light-grey, 50%);
            }
        }
    }

}


.restaurants-container {
    background-color: $light-grey;

    h2 {
        margin: 0;
    }


    .restaurants {
        gap: 18px;
        @include flex-column;
        @include p-60-60;

        .restaurant {
            img {
                @include w-100;
                height: 251px;
                @include rounded-top;
                justify-content: space-between;
                @include flex-row;
                object-fit: cover;
            }

            .card-content {
                @include w-100;
                padding: 14px;
                justify-content: space-between;
                @include flex-row;
                box-sizing: border-box;
                gap: 5px;

                .card-txt {
                    width: 80%;

                    .card-title {
                        margin: 0;
                    }

                    .card-subtitle {
                        margin: 0;
                    }
                }

                .card-rating {
                    width: 15%;
                    @include flex-column;
                    justify-content: flex-start;
                    align-items: flex-end;
                }
            }

            .card {
                @include flex-column;
                @include w-100;
                @include rounded;
                background-color: $light;
            }

        }

    }
}

/* ********************************************* RESPONSIVE ********************************************* */
/*Desktop (more than 769px)*/
@media (min-width: 768px) {
    .reserve {
        padding-top: 30px;
        padding-bottom: 30px;

        .reserve-content {
            h1 {
                font-size: 40px;
                margin: 0;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .fonctionnement {
        gap: 25px;
        @include p30-180;

        h2 {
            margin: 0
        }

        .btn-container {
            @include flex-row;
            justify-content: space-around;

            .btn-fonctionnement {
                width: 100%;
            }
        }
    }

    .restaurants-container {
        @include p30-180;

        h2 {
            padding-bottom: 28px;
        }

        .restaurants {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
            gap: 50px 100px;

            .restaurant {
                .card {
                    img {
                        height: 230px;
                    }
                }
            }

        }
    }

}

/**************************** Loader ***************************/
.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0,0,0, 0.5);
    z-index: 3;
    position: fixed; //position fixed pour qu'il soit aussi visible sur tout l'écran même si tu scroll
    height: 100vh;
    width: 100vw;
    // le height et width pour toute la hauteur et largeur de l'écran (vh et vw)

    animation: loader ease-out 3s forwards;

    @keyframes loader {
        to {
            display: none;
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        top: 100px;
        text-align: center;
        opacity: 0.75;
        animation: pulse 2.5s linear infinite;
    }

    .cuisiner {
        position: relative;
        margin: 0 auto;
        top: 0;
        width: 300px;
        height: 300px;
        overflow: hidden;

        .area {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 50%;
            background-color: transparent;
            transform-origin: 15% 60%;
            animation: flip 2.1s ease-in-out infinite;


            .recto-verso {
                position: absolute;
                width: 100%;
                height: 100%;
                transform-origin: 15% 60%;
                animation: commuter 2.1s ease-in-out infinite;

                .poignee {
                    position: absolute;
                    bottom: 18%;
                    right: 80%;
                    width: 35%;
                    height: 20%;
                    background-color: transparent;
                    border-top: 1vh solid #333;
                    border-left: 1vh solid transparent;
                    border-radius: 100%;
                    transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
                }


                .poele {
                    position: absolute;
                    bottom: 20%;
                    right: 30%;
                    width: 50%;
                    height: 8%;
                    background-color: #333;
                    border-radius: 0 0 1.4em 1.4em;
                    transform-origin: -15% 0;
                }

            }

            .pancake {
                position: absolute;
                top: 24%;
                width: 100%;
                height: 100%;
                transform: rotateX(85deg);
                animation: sauter 2.1s ease-in-out infinite;

                .patisserie {
                    position: absolute;
                    bottom: 26%;
                    right: 37%;
                    width: 40%;
                    height: 45%;
                    background-color: #333;
                    box-shadow: 0 0 3px 0 #333;
                    border-radius: 100%;
                    transform-origin: -20% 0;
                    animation: vol 2.1s ease-in-out infinite;
                }
            }
        }

        .bulle {
            position: absolute;
            border-radius: 100%;
            box-shadow: 0 0 2px #4d4d4d;
            opacity: 0;
        }

        // On cible le 1er élément dans le parent bulle . (grâce au sélecteur :nth-child )
        .bulle:nth-child(1) {
            margin-top: 2.5vh;
            left: 58%;
            width: 2.5vh;
            height: 2.5vh;
            background-color: #454545;
            animation: bulle 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
        }

        // On cible le 2e élément dans le parent bulle .
        .bulle:nth-child(2) {
            margin-top: 3vh;
            left: 52%;
            width: 2vh;
            height: 2vh;
            background-color: #3d3d3d;
            animation: bulle 2s ease-in-out 0.35s infinite;
        }

        // On cible le 3e élément dans le parent bulle .
        .bulle:nth-child(3) {
            margin-top: 1.8vh;
            left: 50%;
            width: 1.5vh;
            height: 1.5vh;
            background-color: #333;
            animation: bulle 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
        }

        // On cible le 4e élément dans le parent bulle .
        .bulle:nth-child(4) {
            margin-top: 2.7vh;
            left: 56%;
            width: 1.2vh;
            height: 1.2vh;
            background-color: #2b2b2b;
            animation: bulle 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
        }

        // On cible le 5e élément dans le parent bulle .
        .bulle:nth-child(5) {
            margin-top: 2.7vh;
            left: 63%;
            width: 1.1vh;
            height: 1.1vh;
            background-color: #242424;
            animation: bulle 1.6s ease-in-out 1s infinite;
        }
    }


    @keyframes pulse {
        0% {
            transform: scale(1, 1);
            opacity: 0.25;
        }

        50% {
            transform: scale(1.2, 1);
            opacity: 1;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0.25;
        }
    }

    @keyframes flip {
        0% {
            transform: rotate(0deg);
        }

        5% {
            transform: rotate(-27deg);
        }

        30% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(0deg);
        }

        55% {
            transform: rotate(27deg);
        }

        83% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes commuter {
        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(180deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }

    @keyframes sauter {
        0% {
            top: 24;
            transform: rotateX(85deg);
        }

        25% {
            top: 10%;
            transform: rotateX(0deg);
        }

        50% {
            top: 30%;
            transform: rotateX(85deg);
        }

        75% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(85deg);
        }
    }

    @keyframes vol {
        0% {
            bottom: 26%;
            transform: rotate(0deg);
        }

        10% {
            bottom: 40%;
        }

        50% {
            bottom: 26%;
            transform: rotate(-190deg);
        }

        80% {
            bottom: 40%;
        }

        100% {
            bottom: 26%;
            transform: rotate(0deg);
        }
    }

    @keyframes bulle {
        0% {
            transform: scale(0.15, 0.15);
            top: 80%;
            opacity: 0;
        }

        50% {
            transform: scale(1.1, 1.1);
            opacity: 1;
        }

        100% {
            transform: scale(0.33, 0.33);
            top: 60%;
            opacity: 0;
        }
    }
}
