@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/header";
@import "../components/footer";
@import "../components/heart";
@import "../components/mainbtn";

.recherche {
    height: 50px;
    background-color: darken($light-grey, 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;

    .txtarea {
        border-width: 0;
        background-color: darken($light-grey, 5%);
        display: flex;
        align-items: center;
        // justify-content: center;
        // justify-content: space-evenly;
        padding-top: 14px;
        padding-bottom: 14px;
        // gap: 42px;
    }
}

.reserve {
    @include block;
    background-color: $light-grey;
    @include p-60-60;

    h1 {
        margin: 0;
    }

}

.fonctionnement {
    @include flex-column;
    @include p-60-60;

    .btn-container {
        @include flex-column;
        gap: 25px;


        .btn-fonctionnement {
            @include flex-row;
            @include rounded;
            @include space-evenly;
            box-shadow: 0px 4px 15px 0px darken($light-grey, 15%);
            background-color: $light-grey;
            height: 73px;
            /* Positionne le chiffre sur la bordure gauche */
            position: relative;

            .nr {
                position: absolute;
                left: -17px;
                /* Ajustez la valeur selon vos préférences */
                width: 30px;
                height: 30px;
                border-radius: 50%;
                /* Crée un cercle */
                background-color: $primary;
                /* Couleur mauve */
                color: darken($light-grey, 0%);
                /* Couleur de l'écriture blanche */
                text-align: center;
                line-height: 30px;
            }

            .fa-solid {
                color: darken($light-grey, 50%);
            }
        }
    }

}


.restaurants-container {
    background-color: $light-grey;

    h2 {
        margin: 0;
    }


    .restaurants {
        gap: 18px;
        @include flex-column;
        @include p-60-60;

        .restaurant {
            img {
                @include w-100;
                height: 251px;
                @include rounded-top;
                justify-content: space-between;
                @include flex-row;
                padding: 3px;
                object-fit: cover;
            }

            .card-content {
                @include w-100;
                padding: 14px;
                justify-content: space-between;
                @include flex-row;
                box-sizing: border-box;
                gap: 5px;

                .card-txt {
                    width: 80%;

                    .card-title {
                        margin: 0;
                    }

                    .card-subtitle {
                        margin: 0;
                    }
                }

                .card-rating {
                    width: 15%;
                    @include flex-column;
                    justify-content: flex-start;
                    align-items: flex-end;
                }
            }

            .card {
                @include flex-column;
                @include w-100;
                @include rounded;
                background-color: $light;
            }

        }

    }
}

/* ********************************************* RESPONSIVE ********************************************* */
/*Desktop (more than 1024px)*/
@media (min-width: 769px) {
    .reserve {
        padding-top: 30px;
        padding-bottom: 30px;

        .reserve-content {
            h1 {
                font-size: 40px;
                margin: 0;
            }

            p {
                font-size: 18px;
            }
        }

        btn-menu {
            font-size: 18px;
        }
    }

    .fonctionnement {
        gap: 25px;
        @include p30-180;

        h2 {
            margin: 0
        }

        .btn-container {
            @include flex-row;
            justify-content: space-around;

            .btn-fonctionnement {
                width: 100%;
            }
        }
    }

    .restaurants-container {
        @include p30-180;

        h2 {
            padding-bottom: 28px;
        }

        .restaurants {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
            gap: 50px 100px;

            .restaurant {
                .card {
                    img {
                        height: 230px;
                    }
                }
            }

        }
    }

}