@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/footer";
@import "../components/header";
@import "../components/plat";
@import "../components/heart";
@import "../components/mainbtn";

body {
    background-color: $light-grey;
}

.entete {
    z-index: 1;
    position: relative;
    height: 350px;

    img {
        @include w-100;
        object-fit: cover;
        height: 350px;
    }
}


h1 {
    font-family: 'Shrikhand', serif;
}

.menu {
    background-color: $light-grey;
    padding: 20px 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;
    margin-top: -20px;
    position: relative;
}

.plats {
    @include flex-column;
    gap: 12px;
    margin-bottom: 40px;
    background-color: $light-grey;

    h1 {
        font-weight: lighter;
        display: flex; // Utilisez une classe flex pour aligner les éléments en ligne
        align-items: center; // Alignez les éléments verticalement au centre
        text-align: center;
    }

    .card-rating {
        margin-left: 24px;
    }

    h2 {
        margin: 0;
        font-weight: lighter;
        font-size: 16px;
        // text-decoration: underline $tertiary;
        width: 40px;
        height: 27px;
        border-bottom-style: solid;
        border-bottom-color: $tertiary;
        border-bottom-width: 3px;
    }
}

.reserve {
    @include block;
    margin: 60px;
}


/* APPARITION PROGRESSIF DU MENU */

/* Définir une classe pour l'animation */
.fade-in {
    opacity: 0;
    /* Commencer avec une opacité de 0 */
    transform: translateY(20px);
    /* Déplacer le texte vers le bas (facultatif) */
    animation: fadeIn ease-out 3s forwards;
    /* Utiliser une animation de fondu en 3 secondes */
}

/* Définir l'animation fadeIn */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* Arriver à une opacité de 1 à la fin de l'animation */
        transform: translateY(0);
        /* Remettre le texte à sa position d'origine */
    }
}


/* APPARITION PROGRESSIVE DE L'ENCOCHE */
.fade-ex {
    opacity: 0;
    /* Commencer avec une opacité de 0 */
    transform: translateX(-20px);
    /* Déplacer le texte vers le bas (facultatif) */
    animation: fadeEx ease-out 3s forwards;
    /* Utiliser une animation de fondu en 3 secondes */
}

/* Définir l'animation fadeEx */
@keyframes fadeEx {
    to {
        opacity: 1;
        /* Arriver à une opacité de 1 à la fin de l'animation */
        transform: translateX(0);
        /* Remettre le texte à sa position d'origine */
    }
}

/* ********************************************* RESPONSIVE ********************************************* */
@media (min-width: 769px) {
    body {
        background-color: $light;
    }

    .menu {

        background-color: $light-grey;
        // margin-left: 192px;
        // margin-right: 192px;
        // padding-left: 210px;
        // padding-right: 210px;
        margin-left: 13%;
        margin-right: 13%;
        padding-left: 15%;
        padding-right: 15%;
        // gap: 40px;

    }
}