@import "../utils/mixins";
@import "../components/footer";
@import "../utils/base";
@import "../utils/variables";
@import "../components/plat";

body {
    background-color: $light-grey;
}

header {
    @include block;

    h2 {
        margin: 0;
        font-size: 28px;
        font-family: 'Shrikhand', serif;
        @import "../components/heart";
        margin-top: -50px;
        box-sizing: border-box;
        width: 100%;
        border: solid $light-grey 10px;
        padding: 32px 17px 0px 17px;
        border-radius: 10% 10% 0 0;
        z-index: 1;
    }

    img {
        @include w-100;
        height: 251px;
        // @include rounded-top;
        justify-content: space-between;
        @include flex-row;
    }
}

.plats {

    @include flex-column;
    gap: 12px;
    margin: 40px 0px;

    h2 {
        margin: 0;
        font-weight: lighter;
        font-size: 16px;
    }

    .btn-plat {
        p {
            width: 245px;
        }
    }

}

.reserve {
    @include block;
    @import "../components/mainbtn";
    margin: 60px;
}