@import "../utils/variables";
@import "../utils/base";
@import "../utils/mixins";
@import "../components/footer";
@import "../components/header";
@import "../components/plat";
@import "../components/heart";
@import "../components/mainbtn";

body {
    background-color: $light-grey;
}

.entete {
    img {
        @include w-100;
        object-fit: cover;
    }
}

.plats-entete {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;
}

.plats {
    @include flex-column;
    gap: 12px;
    position: relative;
    margin-bottom: 40px;
    margin-top: -20px;
    background-color: $light-grey;

    h1 {
        font-weight: lighter;
        display: flex; // Utilisez une classe flex pour aligner les éléments en ligne
        align-items: center; // Alignez les éléments verticalement au centre
    }

    .card-rating {
        margin-left: auto; // Placez le cœur à la fin de la ligne (à droite)
    }

    h2 {
        margin: 0;
        font-weight: lighter;
        font-size: 16px;
        // text-decoration: underline $tertiary;
        width: 40px;
        height: 27px;
        border-bottom-style: solid;
        border-bottom-color: $tertiary;
        border-bottom-width: 3px;
    }
}

.reserve {
    @include block;
    margin: 60px;
}
