$light:#ffffff;
$light-grey:#F6F6F6;
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;

/* loader colors */
$loader-color: #333;
$bulle: #4d4d4d;
$bulle-primo: #454545;
$bulle-secundo: $loader-color;
$bulle-tertio: #3d3d3d;
$bulle-quarto: #2b2b2b;
$bulle-quinto: #242424;