@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

.main-container {
  max-width: 1440px;
  margin: auto;
}

.p020 {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  font-family: "Roboto", sans-serif;
}

.foot {
  background-color: #2a2a2a;
  color: white;
  padding: 22px 25px;
}
.foot ul {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.foot ul i {
  margin-right: 11px;
}
.foot h2 {
  margin-top: 0px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Shrikhand", serif;
}

/* ********************************************* RESPONSIVE ********************************************* */
/*Desktop (more than 1024px)*/
@media (min-width: 1025px) {
  .foot {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .foot ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  .foot h2 {
    margin-bottom: 0;
    margin-left: 7px;
  }
}
/* Tablettes (between 768px and 1024px) */
header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  justify-content: center;
}
header a {
  position: absolute;
  left: 10px;
}
header span {
  font-family: "Shrikhand", serif;
}

.btn-plat {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #d0d0d0;
  background-color: #ffffff;
}
.btn-plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 15px;
  width: 100%;
}
.btn-plat p span {
  font-weight: bold;
}
.btn-plat .prix {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-weight: bold;
  padding-bottom: 15px;
  margin-right: 20px;
}
.btn-plat .coche {
  display: none;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #99E2D0;
  width: 60px !important;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -60px;
  visibility: hidden;
}

.btn-plat:hover .coche {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  visibility: visible;
}

.heart-full {
  color: transparent;
  /* Rend le cœur vide */
  background: linear-gradient(to top, #FF79DA, #9356DC);
  /* Applique un dégradé de couleurs au cœur vide */
  -webkit-background-clip: text;
  /* Pour les navigateurs WebKit (Safari, Chrome) */
  background-clip: text;
  /* Pour les autres navigateurs */
  display: none;
  /* cocher le coeur dégradé par défaut.*/
  font-size: 22px;
  cursor: pointer;
  transition: visibility 0.3s;
  visibility: hidden;
}

.heart-empty {
  font-size: 22px;
  cursor: pointer;
  display: block;
}

.heart-checkbox {
  display: none;
  /* Masque la case à cocher par défaut */
}

.heart-checkbox:checked + label .heart-empty {
  display: none;
  /* Styles pour le cœur vide lorsque la case est cochée */
}
.heart-checkbox:checked + label .heart-full {
  visibility: visible;
  /* Affiche le cœur dégradé lorsque la case est cochée */
  display: inline-block;
  animation: gradientAnimation 500ms ease-in-out;
  /* Durée de l'animation de 3 secondes */
}
@keyframes gradientAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styles pour afficher le cœur vide */
.heart-checkbox:not(:checked) + label .heart-empty {
  display: inline;
  animation: gradientAnimation 500ms ease-in-out;
}
.heart-checkbox:not(:checked) + label .heart-full {
  display: none;
}
@keyframes gradientAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-rating i {
  transition: all 0.3s;
  /* Transition pour une animation fluide */
}

.btn-menu {
  padding: 13px 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 15px 0px #2a2a2a;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: #ffffff;
  background: linear-gradient(#ff46cc, #782cd3);
  border: none;
}

.btn-menu:hover {
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 25px 0px #2a2a2a;
}

body {
  background-color: #F6F6F6;
}

.entete {
  z-index: 1;
  position: relative;
  height: 350px;
}
.entete img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

h1 {
  font-family: "Shrikhand", serif;
}

.menu {
  background-color: #F6F6F6;
  padding: 20px 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 3;
  margin-top: -20px;
  position: relative;
}

.plats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  background-color: #F6F6F6;
}
.plats h1 {
  font-weight: lighter;
  display: flex;
  align-items: center;
  text-align: center;
}
.plats .card-rating {
  margin-left: 24px;
}
.plats h2 {
  margin: 0;
  font-weight: lighter;
  font-size: 16px;
  width: 40px;
  height: 27px;
  border-bottom-style: solid;
  border-bottom-color: #99E2D0;
  border-bottom-width: 3px;
}

.reserve {
  display: block;
  text-align: center;
  margin: 60px;
}

/* APPARITION PROGRESSIF DU MENU */
/* Définir une classe pour l'animation */
.menu {
  opacity: 0;
  /* Commencer avec une opacité de 0 */
  animation: fadeIn ease-out 0.5s forwards;
  /* Utiliser une animation de fondu en 3 secondes */
}

/* Définir l'animation fadeIn */
@keyframes fadeIn {
  to {
    opacity: 1;
    /* Arriver à une opacité de 1 à la fin de l'animation */
    transform: translateY(0);
    /* Remettre le texte à sa position d'origine */
  }
}
/* APPARITION PROGRESSIVE DE L'ENCOCHE */
.coche {
  transform: translateX(20px);
  /* Déplacer le texte vers la gauche */
  animation: fadeEx ease-out 0.5s forwards;
  /* Utiliser une animation de fondu en 3 secondes */
}

/* Définir l'animation fadeEx */
@keyframes fadeEx {
  to {
    /* Arriver à une opacité de 1 à la fin de l'animation */
    transform: translateX(0);
    /* Remettre le texte à sa position d'origine */
  }
}
/* ********************************************* RESPONSIVE ********************************************* */
@media (min-width: 769px) {
  body {
    background-color: #ffffff;
  }
  .menu {
    background-color: #F6F6F6;
    margin-left: 13%;
    margin-right: 13%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*# sourceMappingURL=menu.css.map */
